 /* @keyframes weddingInvite {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0;
  }
 } */

/* 
 .circles__animation {
  animation-name: showCircles;
  animation-duration: 2s;
 }

 @keyframes showCircles {
  from {
    margin-left: 300%;
  }

  to {
    margin-left: 0;
  }
 } */

 @keyframes tgIcon {
  
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(3px);
  }

  40% {
    transform: translate(0);
  }

  60% {
    transform: translate(-3px);
  }

  80% {
    transform: translate(0);
  }

 
 }