 /* @keyframes weddingInvite {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0;
  }
 } */

/* 
 .circles__animation {
  animation-name: showCircles;
  animation-duration: 2s;
 }

 @keyframes showCircles {
  from {
    margin-left: 300%;
  }

  to {
    margin-left: 0;
  }
 } */