* {
  /* outline: 3px red solid; */
}

.page {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Cruinn, sans-serif;
}

.page__size {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  inline-size: 970px;
  max-inline-size: 970px;
}

.header__container {
  margin-block-start: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 133px;
}

.wedding__invite {
  font-family: Novelist;
  font-size: clamp(3.4375rem, 2.3289rem + 4.1736vw, 5rem);
  font-weight: 200;
}

.image__container {
  background-image: url("../images/mainPhoto.JPG");
  inline-size: 666px;
  block-size: 550px;
  background-size: cover;
  background-position: 20%;
}
.header__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  inline-size: 673px;
  block-size: 755px;
}
.names {
  font-family: Heather, sans-serif;
  font-size: clamp(3rem, 0.8715rem + 8.0134vw, 6rem);
  position: absolute;
}

.benjamin {
  top: 0;
}

.elizabeth {
  bottom: 0;
  right: 0;
}

.first__section {
  margin-block-start: 120px;
}

.block__title {
  font-family: Novelist, sans-serif;
  font-size: clamp(2rem, 0.581rem + 5.3422vw, 4rem);
  font-weight: 200;
  text-align: center;
}

.block__text {
  font-family: Cruinn, sans-serif;
  font-size: clamp(1.25rem, 0.3631rem + 3.3389vw, 2.5rem);
  font-weight: 200;
  text-align: center;
}

.first__section-block-text {
  margin-block-start: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}

.heart__svg {
  margin-block-start: 73px;
  margin-block-end: 88px;
}

.calendar__wedding {
  max-inline-size: 698px;
  max-block-size: 542px;
  object-fit: cover;
  margin-block-start: 53px;
}

.section__address {
  margin-block-start: 89px;
  margin-block-end: 146px;
}

.block__title-address {
  margin-block-end: 18px;
}

.block__text-address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.block__text-p-address {
  inline-size: 658px;
}

.iframe__container {
  position: relative;
}
.iframe__line {
  position: absolute;
}

.right__line-nav {
  bottom: 80%;
}

.left__line-nav {
  right: 85%;
  top: 97.5%;
}

.section__timing {
  margin-block-end: 36px;
}

.timing__list {
  margin-block-start: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-family: Novelist, sans-serif;
}

.timing__list-item {
  inline-size: 545px;
  block-size: 102px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.item_timer {
  text-align: center;
  font-size: clamp(1.5rem, 0.4357rem + 4.0067vw, 3rem);
}

.item_description {
  text-align: center;
  font-family: Cruinn, sans-serif;
  font-size: clamp(1.25rem, 0.3631rem + 3.3389vw, 2.5rem);
}

.infinity__image {
  inline-size: 50px;
  block-size: 35px;
}

.section__details {
  margin-block-start: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.articles__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 180px;
}

.details__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  inline-size: 100%;
}

.article__header {
  font-size: clamp(1.5rem, 0.4357rem + 4.0067vw, 3rem);
  font-family: Novelist, sans-serif;
  font-weight: 200;
}

.article__description {
  inline-size: 100%;
  font-size: clamp(1.25rem, 0.3631rem + 3.3389vw, 2.5rem);
  text-align: center;
}

.details__article-colored-circles {
  inline-size: 80%;
  margin-block-start: 38px;
  display: flex;
  justify-content: space-between;
}

.details__article-women-style {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
}

.details__article-men-style {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
}

.circle {
  transition: 1s;
}

.circle:hover {
  transform: scale(115%);
}

.style-img {
  transition: 1s;
}

.style-img:hover {
  transform: scale(105%);
}

.article__container-minimize-gap {
  gap: 20px;
}

.article__relative {
  position: relative;
}

.heart__gift {
  position: absolute;
  bottom: -25%;
  left: 0;
}

.telegram__link {
  position: absolute;
  right: 0;
  bottom: -60%;
}

.tg-text {
  font-size: clamp(0.9375rem, 0.2723rem + 2.5042vw, 1.875rem);
}

.telegram__link-container {
  position: relative;
}

.telegram__link-pointer {
  position: absolute;
  bottom: 100%;
  left: 20%;
}

.telegram__link-icon {
  position: absolute;
  top: -480%;
  right: 33%;
  animation-name: tgIcon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.link__org {
  position: relative;
  text-decoration: none;
  color: green;
  transition: 1s;
}

.link__org::before {
  content: "";
  position: absolute;
  width: 0;
  display: block;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: 1s;
  background-color: green;
}

.link__org:hover::before {
  width: 100%;
}

.form__for-guests {
  font-size: clamp(0.9375rem, 0.2723rem + 2.5042vw, 1.875rem);
  inline-size: 250px;
  block-size: 50px;
  border-radius: 5px;
}

.article__divider {
  position: relative;
}

.divider-line {
  position: absolute;
  top: -40%;
}

.form__btn {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  transition: 1s;
}

.form__btn:hover {
  cursor: pointer;
  box-shadow: 5px 10px #000;
}

.thanks__section {
  margin-block-start: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;

}

.thanks__title {
  font-family: Heather, sans-serif;
  inline-size:100%;
  text-align: center;
}

.photos__container {
  /* margin-block-start: 80px; */
  inline-size: 100%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 254px);
  grid-template-rows: repeat(3, 254px);
}

.photo__of-us {
  transition: 1s;
  border-radius: 5px;
}

.photo__of-us:hover {
  transform: scale(110%);
}

.waiting__for-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  font-family: Cruinn, sans-serif;
  font-size: clamp(1.25rem, 0.3631rem + 3.3389vw, 2.5rem);
}


@media (max-width: 425px) {
  .header__container {
    margin-block-start: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .header__image-container {
    block-size: 380px;
  }

  .wedding__invite {
    inline-size: 332px;
    text-align: center;
  }

  .image__container {
    inline-size: 307.5px;
    block-size: 249px;
  }

  .elizabeth {
    right: 27%;
  }

  .block__text-p {
    inline-size: 340px;
  }

  .article__description {
    inline-size: 340px;
  }
}